    @media screen and (min-device-width: 800px) and (-webkit-min-device-pixel-ratio: 1) {
        * {
            box-sizing: border-box;
        }
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            background-color: white;
            overflow-x: hidden;
            margin: 0px;
        }
    }
    
    @media (max-width: 800px) {
        html {
            overflow-x: hidden;
        }
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            margin: 0px;
            background-color: white;
            overflow-x: hidden !important;
        }
    }